@import url(navBar.css);
@import url(header.css);

/*Main content, Created on : 27-Nov-2017, 13:16:36   Author: Frazer, Sasha, Muneeb*/

html {
    height: 100%;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body {
    background-image:url(../resources/back.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #333333;
}

.content {
    margin-left: 150px;
    margin-top: 105px;
    padding: 10px;
    background-color: rgba(96,96,96,0.7);
    border-radius: 5px
}

.content h1 {
    text-shadow: 2px 2px #474747;
    color: #ffffff;
    text-align:center;
}

.content h2 {    
    color: #ffffff;
    text-align: center;
}

.content table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: separate;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
}

.content td, th {
    text-align: center;
    padding: 10px;
    border-left:solid black 1px;
    border-top:solid black 1px;    
    color: #000000;
}

.content th {
    background-color: #00a59b;
    border-top: white;
}

td:first-child {
    border-left: none;
}
th:first-child {
    border-left: none;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.main {
    margin: 200px auto;
    width: 400px;
}
.content-screen {
    padding: 10%;
    background-color: rgba(96,96,96,0.7);
    border-radius: 5px
}

.title {
    text-align: center;
    color: #ffffff;
}

.form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

.input-label{
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-left: 7px;
    margin-bottom: 5px;
}

label{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.houseNumber{
    width: 50px;
    float: left;
    margin-left: 5px;
}

.streetname{
    width: 190px;
    margin-bottom: 5px;
}

input {
    text-align: center;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.radio {
    width: 10px;
}

.btn {
    border: 2px solid transparent;
    background-color: rgba(0,114,132,0.9);
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 5px auto;
}
/*Header colour*/
.btn:hover {
    background-color: #00a59b;
}

/* Logout Button */

.logout {
    width: 120px;
    float: right;
    position: fixed;
    top: 20px;
    left: 10px; 
}

.logoutBtn {
    border: 2px solid;
    border-color: #004d00;
    background: #00a59b;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;    
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    border-radius: 3px;
    box-shadow: 3px;
    transition: 0.25s;
    display: block;
    width: 120px; 
}

.logoutBtn:hover {
    background-color: #2980B9;
}

/* Error message */
.error {
    padding: 20px;
    color: #000000;    
    background-color: #FD8F8F;
    border: 3px solid #ff0000;
    border-radius: 5px;
}

.errorMessageBtn {

    color: #ff0000;
    font-weight: bold;
    float: right;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
}

.errorMessageBtn:hover {
    color: #FF0000;
}

#autocomplete {
    position: relative;
    width: 250px;;
    margin-bottom: 10px;
}

