/*Navigation Bar, Created on : 27-Nov-2017, 13:16:36   Author: Frazer, Sasha*/
.navBar {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 300px;    
    z-index: 15; 
    overflow: hidden;
}

ul.menu  {
    padding: 0;
}

ul.menu  li {
    display: inline-block;
    margin-bottom: 20px;
}

ul.menu  li  a{
    background-color: #eeeeee;
    font-family: Arial;
    color: #1f191a;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;   
}

ul.menu li a:hover {
    background-color: #FD8F8F;
}